<!DOCTYPE html>
<html>
<head>
  <title>MovieTo.Watch</title>
  <meta name="description"
        content="Let us decide what movie for you to watch. Share your watchlists with your friends" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'film.png' %>
  <meta property="og:url"           content="<%= root_path %>" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="movieTo.Watch" />
  <meta property="og:description"   content="Let us decide what movie for you to watch. Share your watchlists with your friends" />
  <meta property="og:image"         content="https://s3-us-west-2.amazonaws.com/moviewatchimages/movieToWatchLogo.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72329503-2', 'auto');
  ga('send', 'pageview');

  </script>
  <%= csrf_meta_tags %>
</head>
<body>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '551107808409493',
        xfbml      : true,
        version    : 'v2.9'
      });
      FB.AppEvents.logPageView();
    };

    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="<%= profile_path %>">Profile</a></li>
    <li>
      <%= link_to "Sign out", signout_path, id: "sign_out" %>
    </li>
  </ul>
  <nav>
    <div class="container">
      <div class="nav-wrapper">
        <a href="<%= root_path %>" class="brand-logo">movieTo.Watch</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <% unless current_page?(root_url)   %>
            <li><a href="<%= root_path %>">Pick a Genre</a></li>
          <% end  %>
          <% if current_user %>
            <li>
              <a class="dropdown-button" href="#!" data-activates="dropdown1">
                <%= current_user.name %>
                <i class="material-icons right">arrow_drop_down</i>
              </a>
            </li>
            <% else %>
              <li>
                <%= link_to 'Sign in with <i class="fa fa-facebook-square" aria-hidden="true"></i>'.html_safe,
                            "/auth/facebook", id: "sign_in" %>
              </li>
          <% end %>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <% if current_user %>
            <li>
              <a href="<%= profile_path %>"><%= current_user.name %></a>
            </li>
            <li class="divider"></li>
            <% unless current_page?(root_url)  %>
              <li><a href="<%= root_path %>">Pick a Genre</a></li>
            <% end  %>
            <li>
              <a href="<%= profile_path %>">Profile</a>
            </li>
            <li>
              <%= link_to "Sign out", signout_path, id: "sign_out" %>
            </li>
            <% else %>
              <li>
                <%= link_to 'Sign in with <i class="fa fa-facebook-square" aria-hidden="true"></i>'.html_safe, "/auth/facebook", id: "sign_in" %>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">


    <%= yield %>
  </div>
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        ©<%= Time.now.year %> - movieTo.Watch
        |  <%= link_to "About", about_path, id: "about-link" %>
        <span class="right">
          Made with <i class="fa fa-heart red-text text-darken-4" aria-hidden="true"></i>
          by
          <a class="grey-text text-lighten-4" href="http://cameroneckelberry.com/"
             target="_blank">
             Cameron Eckelberry
          </a>
       </span>
      </div>
    </div>
  </footer>
</body>
</html>
