<!DOCTYPE html>
<html>
<head>
  <title>WhatMovieToWatch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'film.png' %>
  <meta property="og:url"           content="http://localhost:3000/" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="movieTo.Watch" />
  <meta property="og:description"   content="Let us decide what movie for you to watch. Share your watchlists with your friends" />
  <meta property="og:image"         content="film.png" />
  <%= csrf_meta_tags %>
</head>
<body>
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="<%= profile_path %>">Profile</a></li>
    <li>
      <%= link_to "Sign out", signout_path, id: "sign_out" %>
    </li>
  </ul>
  <nav>
    <div class="container">
      <div class="nav-wrapper">
        <a href="<%= root_path %>" class="brand-logo">movieTo.Watch</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <% unless current_page?(root_url)   %>
            <li><a href="<%= root_path %>">Pick a Genre</a></li>
          <% end  %>
          <% if current_user %>
            <li>
              <a class="dropdown-button" href="#!" data-activates="dropdown1">
                <%= current_user.name %>
                <i class="material-icons right">arrow_drop_down</i>
              </a>
            </li>
            <% else %>
              <li>
                <%= link_to 'Sign in with <i class="fa fa-facebook-square" aria-hidden="true"></i>'.html_safe,
                            "/auth/facebook", id: "sign_in" %>
              </li>
          <% end %>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <% if current_user %>
            <li>
              <a href="<%= profile_path %>"><%= current_user.name %></a>
            </li>
            <li class="divider"></li>
            <% unless current_page?(root_url)  %>
              <li><a href="<%= root_path %>">Pick a Genre</a></li>
            <% end  %>
            <li>
              <a href="<%= profile_path %>">Profile</a>
            </li>
            <li>
              <%= link_to "Sign out", signout_path, id: "sign_out" %>
            </li>
            <% else %>
              <li>
                <%= link_to 'Sign in with <i class="fa fa-facebook-square" aria-hidden="true"></i>'.html_safe, "/auth/facebook", id: "sign_in" %>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">


    <%= yield %>
  </div>
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        ©<%= Time.now.year %> - movieTo.Watch
        <span class="right">
          Made with <i class="fa fa-heart red-text text-darken-4" aria-hidden="true"></i>
          by
          <a class="grey-text text-lighten-4" href="http://cameroneckelberry.com/"
             target="_blank">
             Cameron Eckelberry
          </a>
       </span>
      </div>
    </div>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=216386921733791";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  </footer>
</body>
</html>
